/* .App {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
} */



body {
  margin: 0;
  padding: 0;
  background-color: #fde3e3;
}

.row{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 0.5rem;
}

.col{
  margin: 0 45px;
}

.post {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 6px 10px 10px;

}

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 29px 20px;
  cursor: pointer;
}
.post .title {
  flex: 20%;
  border-bottom: 1px solid lightgrey;
  background-color: #e94a4a;
  display: grid;
  place-content: center;
  color: white;
  text-transform: uppercase;
}

.post .body {
  flex: 60%;
  display: grid;
  place-content: center;
  text-transform: uppercase;
  background-color: white;
}

.post .footer {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: #e94a4a;
  text-transform: uppercase;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer .username {
  flex: 50%;
}
.footer .buttons {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.likeBttn {
  color: rgba(250, 250, 250, 0.8);
}
.unlikeBttn {
  color: white;
}

.buttons label {
  margin-right: 20px;
  margin-left: 10px;
}

/* CREATE POST PAGE CSS */

.createPostPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.createPostText{
justify-content: center;
align-items: center;
font-size: 1.6rem;
color: #942020;
padding-bottom: 20px;
font-style: italic;
}
.formContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
}

.formContainer #inputCreatePost {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid rgb(214, 49, 49);
  margin-bottom: 30px;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 15px;
}

.formContainer button {
  margin-top: 15px;
  height: 50px;
  font-size: 1.5rem;
  background-color: rgb(214, 49, 49);
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: white;
  border: 2px solid rgb(214, 49, 49);
  color: rgb(214, 49, 49);

}

span {
  color: red;
}

.registration label{
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.registration{
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */

.navbar {
  width: 100%;
  height: 70px;
  background-color: rgb(214, 49, 49);
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar .links {
  flex: 50%;
  font-size: 1.2rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar .loggedInContainer {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
a {
  margin-left: 20px;
  text-decoration: none;
  font-weight: 600;
  margin-right: 8px;
  color: white;
}

.navbar button {
  width: 100px;
  height: 45px;
  cursor: pointer;
  margin-right: 10px;

  font-size: 1.2rem;
  font-weight: 600;
  background-color: white;
  color: rgb(214, 49, 49);
  border: 2px solid rgb(214, 49, 49);
}

.navbar h1 {
  text-align: right;
  margin-right: 10px;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar h1:hover {
  color: rgb(214, 49, 49);
}
/* INDIVIDUAL POST */
.postPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.leftSide {
  flex: 50%;
  height: calc(100vh - 150px);
  display: grid;
  place-items: center;
}

.rightSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
  display: flex;
  flex-direction: column;
}

.rightSide .addCommentContainer {
  flex: 20%;
  width: 100%;
  display: flex;
  place-items: center;
  margin-top: 50px;
}

.addCommentContainer input {
  width: 350px;
  height: 50px;
  border-radius: 8px;
  border: none;
}

.addCommentContainer button {
  background-color: rgb(214, 49, 49);
  color: white;
  font-size: 1.3rem;
  width: 190px;
  height: 45px;
  border-radius: 8px;
  margin-left: 15px;
  border: none;
}
.addCommentContainer button:hover {
  background-color: white;
  border: 2px solid rgb(214, 49, 49);
  color: rgb(214, 49, 49);
}
.addCommentContainer input {
  border: 1px solid rgb(214, 49, 49);
}

.rightSide .listOfComments {
  flex: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.listOfComments .comment {
  width: 70%;
  height: auto;
  padding: 10px;
  background-color: #fef2f2;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.comment .commentText{
  word-wrap:break-word;
  display: block;
  width: 320px;
  padding: 8px;
  background-color: white ;
  color: black;
  border-radius: 6px;
}

.listOfComments .comment label{
  padding: 8px;
  background-color: #7b2121 ;
  color: white;
  border-radius: 5px;
}

.listOfComments .comment .deleteBtn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: 600;
  font-size: 1.3rem;
  background-color: white;
  color: rgb(214, 49, 49);
  border:2px solid red;
}

.listOfComments .comment .deleteBtn:hover{
  background-color: rgb(214, 49, 49);
  color: white;
  border: none;
}

#individual {
  height: 400px;
  width: 500px;
}

#individual .title,
#individual .footer {
  font-size: 30px;
}

#individual .body {
  font-size: 25px;
}

.footer .footerBtn{
  width: 100px;
  margin-left: 300px;
  color: rgb(214, 49, 49);
  background-color: #fff;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  padding: 6px;
}

/* LOGIN */

.login{
  color: rgb(214, 49, 49);
  font-size: 3rem;
  margin-bottom: 0px;
}

.loginSubtext{
  font-style: italic;
  font-weight: 600;
  margin-bottom: 50px;
  font-size: 1.5rem;
  color: #480404;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  align-items: center;
  
}

.loginBox{
  display: flex;
  flex-direction: column;
}

.loginContainer label{
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #7b2121;
  margin-left: 10px;
}


.loginContainer input {
  width: 400px;
  height: 42px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.loginContainer button {
  background-color: rgb(214, 49, 49);
  color: white;
  border: 2px solid white;
  height: 50px;
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 10px;
  margin-left: 25px;
}

.loginContainer button:hover{
  color: rgb(214, 49, 49);
  background-color: white;
  border: 2px solid rgb(214, 49, 49);
}

.loginContainer input {
  border: 2px solid rgb(214, 49, 49);
  margin-bottom: 30px;
}

/* profile page */

.basicInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 50px 0 50px;
  border-bottom: 2px solid rgb(214, 49, 49);
}

.basicInfo .changePwd{
  margin-top: 15px;
  height: 50px;
  font-size: 1.2rem;
  border-radius: 5px;
  font-weight: 600;
  background-color: white;
  color: rgb(214, 49, 49);
  border: 2px solid rgb(214, 49, 49);
}

.basicInfo h1{
  color: rgb(214, 49, 49);;
  text-transform: uppercase;
}

.basicInfo span{
  color: #480404;
}

.basicInfo .changePwd:hover{
  background-color: rgb(214, 49, 49);
  color: white;
}

.listPost{
  text-transform: uppercase;
  color:#d63131;
  padding-left: 50px;
  margin-bottom: 0;
}

.listOfPosts{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 0.5rem;
  margin: 0 45px;
}